body {
  background-color: #e6e6e6
}


.primary {
  font-family: fantasy;
  text-align: center;
}

.hidden {
  display: none
}

.house-name {
  text-align: center;
  display: flex;
  flex-flow: column;
  padding: 20px;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 35%;
}

.person-list-item {
  list-style-type: none;
  margin: 5px;
}

.person-detail-item {
  list-style-type: none;
  font-size: 60%;
}

.like-button {
  margin: 0 auto;
  width: 30%;
}

.collapse-button {
  margin: 0 auto;
  width: 30%;
}

.liked {
  background-color: #404040;
}

ul {
  padding-left: 0px;
}
