body {
  background-color: #e6e6e6
}


.primary {
  font-family: fantasy;
  text-align: center;
}

.heading {
  height: 20vh;
  width: 100vw;
}

.collapsed {
  display: none;
}

p {
  font-size: 60%;
}

.hidden {
  display: none;
}

.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-bottom: 10px;

}

.house-name {
  width: 35%;
  border: 1px solid black;
  margin: 10px;
}

.person-list-item {
  list-style-type: none;
  margin: 5px;
}

.person-detail-item {
  list-style-type: none;
  font-size: 60%;
}

.like-button {
  margin: 0 auto;
  width: 30%;
}

.collapse-button {
  margin: 0 auto;
  width: 30%;
}

.liked {
  background-color: #404040;
}

ul {
  padding-left: 0px;
}
